*{
font-family: "Poppins", sans-serif;
box-sizing: border-box;
padding: 0;
margin: 0;
}

header{
    margin-top: 47px;
    margin-left: 42px;
}
.header-menu{
    font-size: 14px;
    color: #17233D;
    font-weight: 400;
    line-height: 100%;
    margin-right: 32px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.875px;
}

.botao{
    background: #6FBF44;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4cb538;
    line-height: 24px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo-image{
    width: 595.18px;
    height: 500px;
    position: fixed;
    top: 246px;
    margin-left: 121px;
}

section{
    display: inline-block;
    top: 342px;
    left: 801px;
    position: fixed;
}

h1{
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    color: #161A49;
    width: 582px;
    height: 164px;
   
}

p{
    font-size: 18px;
    font-weight: 400;
    color: #4B505A;
    width: 493px;
    height: 99px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.link-botao{
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
    
}


@media screen and (max-width: 1024px) {
    header{
        margin-top: 30px;
        margin-left: 35px;
    }

    .logo-image{
        max-width: 40%;
        height: auto;
        position: relative;
        top: 105px;
        margin-left: 100px;
    }

    section {
        display: inline-block;
        top: 162px;
        left: 567px;
        position: absolute;
    }

    h1 {
        font-size: 55px;
        line-height: 80px;
        width: auto;
    }

    p {
        font-size: 17px;
        width: 420px;
        margin-top: 40px;
        margin-bottom: 40px
    }
}

@media screen and (max-width: 900px) {

    header{
        display: flex;
        flex-direction: row-reverse;
        margin: 17px 15px 0 0;
    }
    section {
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        text-align: center;
        width: 278px;
        height: 60px;
        margin-top: 76px;
    }


    p{
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: center;
        width: 304px;
        height: 165px;
        margin: 29px 0 26px 0;
    }

    .link-botao{
        font-size: 18px;
        line-height: 100%;
        margin: auto;
    }

     header :not(.botao){
        display: none;
    }

    .logo-image{
        position: absolute;
        max-width: 90%;
        top: 490px;
        width: 312px;
        height: 288px;
        margin: 0;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botao{
        width: 91px;
        height: 31px;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 1px;
    }

}